/* Desktop Styles */
@media screen and ((min-width: 576px) or (max-width: 1024px))   {
  body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0
  }

  nav {
    font-family: 'Ubuntu', sans-serif;
  }

  #mobileNav {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100px;
    background-color: black;
    color: white;
  }

  nav ul li {
    padding: 0 18px;
  }

  .options {
    display: none;
  }

  .home-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .home-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .about-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .about-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .arijit-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .arijit-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .shreya-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .shreya-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .sonu-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .sonu-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .kk-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .kk-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .old90s-page-link {
    display: block;
    margin-left: 2cm;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .old90s-page-link:hover {
    text-decoration: underline;
    color: rgb(29, 159, 199);
  }

  .brand img {
    width: 74px;
    padding: 0 8px;
    border-radius: 50%;
  }

  .brand {
    display: flex;
    align-items: center;
    font-size: 2.7rem;
  }

  .home-container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 29px auto;
    width: 62%;
    background-image: url('https://png.pngtree.com/background/20240112/original/pngtree-blazing-headphones-a-3d-illustration-of-the-musical-experience-picture-image_7229326.jpg')
  }

  .home-container h1 {
    font-size: 3rem;
    margin-left: 1.3cm;
  }

  .shreya-container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 29px auto;
    width: 62%;
    background-image: url('https://e0.pxfuel.com/wallpapers/1004/684/desktop-wallpaper-shreya-ghoshal.jpg')
  }

  .arijit-container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 29px auto;
    width: 55%;
    background-image: url('https://e0.pxfuel.com/wallpapers/788/709/desktop-wallpaper-arijit-singh-to-perform-live-in-doha-as-part-of-shop-happy.jpg')
  }

  .sonu-container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 29px auto;
    width: 62%;
    background-image: url('https://live.staticflickr.com/8192/8383044694_29ee488521_b.jpg')
  }

  .old90s-container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 29px auto;
    width: 62%;
    background-image: url('https://static.iwmbuzz.com/wp-content/uploads/2020/01/top-kumar-sanu-and-alka-yagnik-duet-songs-of-90s-to-swoon-your-lover-920x518.jpg')
  }

  .kk-container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 29px auto;
    width: 62%;
    background-image: url('https://static.iwmbuzz.com/wp-content/uploads/2020/02/best-indian-singer-kk-songs-from-the-beginning-of-his-career-to-the-present-920x518.jpg')
  }

  .about-container {
    background-color: rgb(49, 7, 142);
    color: white;
    align-content: center;
    margin-left: 4cm;
    width: 75%;
  }

  .about-container h1 {
    margin-left: 20px;
  }

  .about-container h2 {
    margin-left: 20px;
  }

  .bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .icons {
    cursor: pointer;
  }

  #myProgressBar {
    width: 80vw;
    cursor: pointer;
  }

  #currentTime {
    margin-right: 15cm;
  }

  #totalTime {
    margin-left: 15cm;
  }

  .songItem {
    height: 50px;
    display: flex;
    width: 50%;
    color: white;
    margin: 12px 0;
    margin-left: 10px;
    border-radius: 25px;
  }

  .songName {
    padding-top: 16px;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
  }

  .songlistplay {
    padding-top: 17px;
    cursor: pointer;
  }

  .songInfo {
    position: absolute;
    margin-top: 10px;
    left: 10vw;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .songInfo p {
    margin-left: 36px;
    margin-right: 200px;
    display: inline-block;
    visibility: bolder;
    animation: scrollText 6s linear infinite;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(0ch);
    }

    20% {
      transform: translateX(-1ch);
    }

    40% {
      transform: translateX(-2ch);
    }

    60% {
      transform: translateX(-3ch);
    }

    80% {
      transform: translateX(-4ch);
    }

    100% {
      transform: translateX(-5ch);
    }
  }

  .songNo {
    padding-top: 16px;
  }

  .songInfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  .welcome {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .welcome h1 {
    color: aliceblue;
    font-size: 4rem;
  }

}